
@{
    ViewData["Title"] = "Invalid Deletion";
}

<h2>Unable to Delete</h2>

<h3>There are students enrolled with this course, please contact the students first to make sure they know the course is to be deleted.</h3>

<div>
    <a asp-action="Index">Back to List</a>
</div>